.App {
  text-align: center;
}

.calculator-body {
 max-width: 400px;
 margin: auto;
}
h1 {
  color: #F34213;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
.button {
  display: block;
  background-color: #F34213;

}
.result {
  height: 60px;
  background-color: #F34213;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: auto;
}

button{
  width: 25%;
  height: 60px;
  font-size: 30px;
}
